<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">
  <p><label for="landmark_name">Landmark Name: </label>
    <input type="text" id="landmark_name" name="landmark[name]"></p>
  <p><label for="landmark_year_completed">Year Completed: </label>
    <input type="text" id="landmark_year_completed" name="landmark[year_completed]"></p>
  <p><input type="submit" value="Create New Landmark"></p>
</form>


<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
